@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin image-with-text {
    position: relative;

    img {
        position: relative;
        width: 100%;
    }

    .image-info {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        z-index: 1;
        color: #fff;
        line-height: 0.2rem;
        background-color: rgba(255, 255, 255, 0.205);
    }
    a {
        color: #fff;
    }
}

@mixin list-items {
    padding: 0;

    li {
        list-style: none;
        padding: 5px
    }
}