@import 'mixins';
@import 'colors';

//Mobile
//General
html, body {
    width: 100%;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    @include list-items;
}

main {
    padding: 20px;
}

hr {
    border: 1px solid $blue;
    width: 100%;
}

p, i {
    margin: 0.5rem 0;
    font-size: 1rem;
}
.larger {
    font-size: larger;
}
//Navigation
nav {
    background-color: $blue;
    width: 100%;
    @include flex-row;
}

//Header
header {
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    span {
        font-weight: lighter;
    }
}

.image-wrapper {
    @include image-with-text;
    p, a, i {
        font-size: 0.5rem;
        text-transform: uppercase;
    }

    i {
        padding-left: 30px;
    }

    .artist {
        font-size: 1rem;
        font-weight: bolder;
    }
}

//Section info
.buy-ticket {
    display: flex;
    flex-direction: column;
    border: 1px solid $blue;
    padding: 10px;
    margin: 0;

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: $dark-blue;
        color: #fff;
        border: none;
    }

    a {
        text-decoration: underline;
    }

    .price {
        font-size: 2rem;
        font-weight: bolder;
        margin: 0;
    }
}

.info {
    @include list-items;

    .labels {
        @include flex-row;
        padding: 0;

        .label {
            font-size: 0.7rem;
            color: #fff;
            background-color: #000;
            margin: 3px;
        }
    }
}

.flex-row {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
}

.smaller {
    font-size: smaller;
}

.light-gray {
    color: $dark-gray
}
.bold {
    font-weight: bolder;
}

table {
    th {
        display: flex;
        align-items: center;
        font-weight: lighter;
        i { padding-right: 5px;}
    }
    td.bold {
        width: 1rem;
    }
}
//Section data

//Section tips
section#tips {
    @include flex-column;
}

.program-btn {
    color: white;
    background-color: $dark-blue;
    border: none;
    padding: 15px 10px;
}

.new-date {
    background-color: $dark-blue;
    color: #fff;
    padding: 3px;
    display: inline;
    text-transform: uppercase;
}

//Footer
.footer-top {
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;

    a {
        color: $blue;
    }
    .route {
        text-decoration: underline;
    }
}

.footer-bottom {
    padding: 0px 20px;
    background-color: $footer;
    

    ul {
        @include flex-row;
        margin: 0;
        font-weight: bolder;
    }
}

.subtitle {
    color: $gray;
    text-transform: uppercase;
}

.company {
    color: $blue;
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 991px){

}
//Desktop
@media only screen and (min-width: 992px) {

}