@import 'mixins';
@import 'colors';

//Mobile
//General
html,
body {
    width: 100%;
    color: #000;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1600px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    @include list-items;
}

main {
    padding: 20px;
}

hr {
    border: 1px solid $blue;
    width: 100%;
}

p,
i {
    font-size: 1rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: $dark-blue;
    color: #fff;
    border: 1px solid $dark-blue;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    &:hover {
        background-color: #fff;
        color: $dark-blue;
        border: 1px solid $dark-blue;
    }
}

.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

.light-gray {
    color: $dark-gray
}

.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: bolder;
}

.noshow {
    display: none;
}

.show {
    display: block;
}

button.buy-btn {
    background-color: #fff;
    color: $dark-blue;
    border: 1px solid $dark-blue;
    justify-content: space-between;
    &:hover {
        background-color: $dark-blue;
        border: 1px solid $dark-blue;
        color: #fff;
    }
}

//Navigation
nav {
    background-color: $blue;
    width: 100%;
    @include flex-column;

    ul li {
        @include flex-column;
        align-items: flex-end;
        padding-right: 20px;
        
        a {
            color: #fff;
        }
    }
}

.nav-toggle {
    text-align: right;
    width: 100%;

    i {
        padding: 10px 20px;
    }
}

//Header
header {
    width: 100%;
}

h1 {
    font-size: 1.5rem;

    span {
        font-weight: lighter;
    }
}

.image-wrapper {
    @include image-with-text;
    overflow: hidden;
    transition: 0.6s;

    p,
    a,
    i {
        font-size: 0.5rem;
        text-transform: uppercase;
    }

    i {
        padding-left: 30px;
    }

    .artist {
        font-size: 1rem;
        font-weight: bolder;
    }

    &:hover {
        img {
            transform: scale(1.1);
            transition: 0.8s;
        }
        p, a, i, h1 {
            color: #000;
        }
    }
}

//Section info
.buy-ticket {
    display: flex;
    flex-direction: column;
    border: 1px solid $blue;
    padding: 10px;
    margin: 0;

    button {
        justify-content: space-between;
    }

    a {
        text-decoration: underline;
    }

    .price {
        font-size: 2rem;
        font-weight: bolder;
        margin: 0;
    }
}

.info {
    @include list-items;

    .labels {
        @include flex-row;
        padding: 0;

        .label {
            font-size: 0.7rem;
            color: #fff;
            background-color: #000;
            margin: 3px;
        }
    }
}

.flex-row {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
}

table {
    th {
        display: flex;
        align-items: center;
        font-weight: lighter;

        i {
            padding-right: 5px;
        }
    }

    td.bold {
        width: 1rem;
    }
}

//Section data
.data-header {
    display: flex;
    justify-content: space-between;

    p {
        text-transform: uppercase;
    }
}


//Section tips
section#tips {
    @include flex-column;

    .all-tips {
        @include flex-column;
    }

    button {
        align-items: center;
    }
}

.program-btn {
    color: white;
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
    padding: 15px 10px;
}

.new-date {
    background-color: $dark-blue;
    color: #fff;
    padding: 3px;
    display: inline;
    text-transform: uppercase;
}

//Footer
.footer-top {
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;

    a {
        color: $blue;
    }

    .route {
        text-decoration: underline;
    }
}

.footer-bottom {
    padding: 0px 20px;
    background-color: $footer;


    ul {
        @include flex-row;
        margin: 0;
        font-weight: bolder;
    }
}

.subtitle {
    color: $gray;
    text-transform: uppercase;
}

.company {
    color: $blue;
}

//Tablet
@media only screen and (min-width: 767px) {
    .nav-toggle {
        display: none;
    }

    #nav-items {
        display: flex;
        justify-content: flex-end;
    }

    .buy-ticket {
        button {
            width: auto;
        }
    }

    //Section data
    .info-btn {
        display: none;
    }

    .noshow {
        display: flex;
    }
    .data-options {
        width: 100%;
    }

    .data-header {
        display: none;
    }

    .performance {
        display: flex;
        justify-content: space-between;
        width: 90%;    

        ul {
            display: flex;
            
            li {
                width: 6rem;
            }
            span {
                color: $blue;
            }

            button.uppercase {
                width: 10rem;
            }

            .time {
                width: 3rem;
            }
        }

        .flex-end {
            justify-content: flex-end;
        }
    }

    //Section tips
    section#tips {
        display: flex;
        flex-direction: column;

        .all-tips {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .image-wrapper {
            display: flex;
            width: 50%;
        }
    }

    //Footer
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        div {
            width: 50%;
            height: auto;
        }
    }
}

//Desktop
@media only screen and (min-width: 992px) {
    header {
        background-color: $blue;
        .image-wrapper {
            display: flex;
        }
    }
    
    main {
        padding: 0;
    }
    //Section info
    section#info {
        display: flex;
        flex-direction: row;
        background-color: $blue;

        .buy {
            order: 1;
            display: flex;
            justify-content: center; 
            width: 50%
        }

        .buy-ticket {
            background-color: #fff;
            border: none;
            position: absolute;
            width: 30%;
            top: 300px;
        }
       
        .info {
            width: 75%;
            padding: 50px;
            background-color: #fff;
        }
    }

    //Section data
    section#data, section#tips, .footer-top {
        padding: 50px;
    }

    .performance {
        width: 100%;

        ul li {
            width: 8rem;
        }
    }

    //Section tips
    section#tips{
        @include flex-column;

        .all-tips {
            display: flex;
            justify-content: space-between;

            .image-wrapper {
                width: 30%;
            }
        }
       
    }
    .program-btn {
        width: fit-content;
        align-self: center;
        margin-top: 40px;
    }
        //Footer
        .footer-top {
            display:flex;
            flex-direction:row;

            div {
                width: 25%;
            }
        }

        .footer-bottom {
            padding: 10px 50px;
        }
}