html,
body {
  width: 100%;
  color: #000;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1600px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 5px;
}

main {
  padding: 20px;
}

main a:hover {
  color: #658FC1;
}

hr {
  border: 1px solid #658FC1;
  width: 100%;
}

p,
i {
  font-size: 1rem;
}

.image-info {
  line-height: 0.2rem;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #182D4F;
  color: #fff;
  border: 1px solid #182D4F;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

button:hover {
  background-color: #fff;
  color: #182D4F;
  border: 1px solid #182D4F;
}

.larger {
  font-size: larger;
}

.smaller {
  font-size: smaller;
}

.blue {
  color: #658FC1;
}

.light-gray {
  color: #5f5f5f;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bolder;
}

.noshow {
  display: none;
}

.show {
  display: block;
}

button.buy-btn {
  background-color: #fff;
  color: #182D4F;
  border: 1px solid #182D4F;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button.buy-btn:hover {
  background-color: #182D4F;
  border: 1px solid #182D4F;
  color: #fff;
}

nav a,
.footer-top a {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

nav a:hover,
.footer-top a:hover {
  letter-spacing: 2px;
}

.footer-bottom a:hover {
  color: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

nav {
  background-color: #658FC1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20px;
}

nav ul li a {
  color: #fff;
}

.nav-toggle {
  text-align: right;
  width: 100%;
}

.nav-toggle i {
  padding: 10px 20px;
}

header {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}

h1 span {
  font-weight: lighter;
}

.image-wrapper {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.image-wrapper img {
  position: relative;
  width: 100%;
}

.image-wrapper .image-info {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  z-index: 1;
  color: #fff;
  line-height: 1rem;
}

.image-wrapper a {
  color: #fff;
}

.image-wrapper img {
  opacity: 0.9;
}

.image-wrapper p,
.image-wrapper a,
.image-wrapper i {
  font-size: 0.7rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.image-wrapper i {
  padding-left: 30px;
}

.image-wrapper .artist {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0.5rem 0;
}

.image-wrapper:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0.6;
}

.image-wrapper:hover p,
.image-wrapper:hover a,
.image-wrapper:hover i,
.image-wrapper:hover h1 {
  color: #182D4F;
}

.image-wrapper:hover .new-date {
  background-color: #fff;
}

.buy-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #658FC1;
  padding: 10px;
  margin: 0;
}

.buy-ticket button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy-ticket a {
  text-decoration: underline;
}

.buy-ticket .price {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
}

.info {
  padding: 0;
}

.info li {
  list-style: none;
  padding: 5px;
}

.info .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.info .labels .label {
  font-size: 0.7rem;
  color: #fff;
  background-color: #000;
  margin: 3px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
}

table th i {
  padding-right: 5px;
}

table td.bold {
  width: 1rem;
}

#data .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #658FC1;
  padding: 10px;
}

.data-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-header p {
  text-transform: uppercase;
}

.fa-info-circle:focus::after,
.fa-info-circle:hover::after {
  content: "Staand concert met beperkt aantal zitplaatsen op het balkon. Zitplaatsen kunnen niet gereserveerd worden, wie wil zitten komt best op tijd.";
  background-color: #162E4D;
  color: #fff;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: lighter;
  border-radius: 0.5rem;
  margin-top: -10px;
  margin-left: 5px;
}

section#tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#tips .all-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#tips button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-btn {
  color: white;
  background-color: #182D4F;
  border: 1px solid #182D4F;
  padding: 15px 10px;
}

.new-date {
  background-color: #182D4F;
  color: #fff;
  padding: 5px;
  display: inline;
  text-transform: uppercase;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer-top {
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-top a {
  color: #658FC1;
}

.footer-top .route {
  text-decoration: underline;
}

.footer-bottom {
  padding: 0px 20px;
  background-color: #658FBF;
}

.footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  font-weight: bolder;
}

.subtitle {
  color: #a0a0a0;
  text-transform: uppercase;
}

.company {
  color: #658FC1;
  font-size: larger;
}

@media only screen and (min-width: 767px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .nav-toggle {
    display: none;
  }
  #nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .image-wrapper p {
    font-size: 1.5rem;
  }
  header .image-wrapper h1 {
    font-size: 2.5rem;
  }
  .info .labels .label {
    font-size: 1rem;
  }
  .info-btn {
    display: none;
  }
  .noshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data-options {
    width: 100%;
  }
  .data-header {
    display: none;
  }
  .performance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .performance ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .performance ul li {
    width: 6rem;
  }
  .performance ul button.uppercase {
    width: 10rem;
  }
  .performance ul .time {
    width: 3rem;
  }
  .performance ul a {
    text-decoration: underline;
  }
  .performance .flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section#tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#tips .all-tips {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#tips .image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
  section#tips .image-wrapper p, section#tips .image-wrapper a, section#tips .image-wrapper i {
    font-size: 1rem;
  }
  section#tips .image-wrapper p.artist {
    font-size: 1.5rem;
  }
  section#tips .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#tips .flex-row p {
    margin: 0;
  }
  section#tips .flex-row .new-date {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  button.program-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 40px 0px;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  .footer-top div {
    width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
  nav a, main p {
    font-size: 1.3rem;
  }
  .larger {
    font-size: 1.5rem;
  }
  header {
    background-color: #658FC1;
  }
  header .image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main {
    padding: 0;
  }
  section#info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #658FC1;
  }
  section#info .buy {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  section#info .buy-ticket {
    background-color: #fff;
    border: none;
    width: 80%;
    top: 20px;
    position: -webkit-sticky;
    position: sticky;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: -130px;
  }
  section#info .info {
    width: 75%;
    padding: 50px;
    background-color: #fff;
  }
  section#data,
  section#tips {
    padding: 50px 50px 0px 50px;
  }
  .performance {
    width: 100%;
  }
  .performance .date {
    font-size: 1.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .performance ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .performance ul li i {
    padding: 0px 10px;
  }
  .performance button.buy-btn {
    width: 2rem;
  }
  section#tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#tips .all-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#tips .all-tips .image-wrapper {
    width: 33%;
  }
  section#tips .all-tips .image-wrapper a, section#tips .all-tips .image-wrapper p, section#tips .all-tips .image-wrapper i {
    font-size: 0.7rem;
  }
  section#tips .all-tips .image-wrapper p.artist {
    font-size: 1rem;
  }
  section#tips .all-tips .image-wrapper .new-date {
    padding: 3px;
  }
  .program-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 40px;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
  }
  .footer-top div {
    width: 25%;
  }
  .footer-bottom {
    padding: 10px 50px;
  }
}
/*# sourceMappingURL=style.css.map */